/Clases/Clase 1/Clase 2/nbproject/private/
/Clases/Clase 1/Clase 2/build/
/Clases/Clase 1/Clase3/nbproject/private/
/Clases/Clase 1/Clase3/build/
/Clases/Clase 1/Clase 4/nbproject/private/
/Clases/Clase 1/Clase 4/build/
/Clases/Clase 1/Clase 5/nbproject/private/
/Clases/Clase 1/Clase 5/build/
/Clases/Clase 1/JavaApplication37/nbproject/private/
/Clases/Clase 1/JavaApplication37/build/
/Clases/Clase 1/Switch/nbproject/private/
/Clases/Clase 1/Clase6/nbproject/private/
/Clases/Clase 1/Clase6/build/
/Clases/Clase 1/Switch/build/
/Clases/Clase 1/Clase 7/nbproject/private/
/Clases/Clase 1/Clase7/nbproject/private/
/Clases/Clase 1/Clase7 (arrays)/build/
/Clases/Clase 1/Clase7 (arrays)/nbproject/private/
/Clases/JavaApplication/nbproject/private/
/Clases/JavaApplication/build/
/Clases/JavaApplication/dist/
/Clases/Clase 4/nbproject/private/
/Clases/Clase 2/nbproject/private/
/Clases/Clase6/nbproject/private/
/Clases/UTN-Games/nbproject/private/
/Clases/UTN-Games/build/
/Clases/Other/nbproject/private/
/Clases/Other/build/
/Clases/UTN_GAME/nbproject/private/
/Clases/UTN_GAME/build/
/Clases/UTN_GAME_C/nbproject/private/
/Clases/UTN_GAME_C/build/
/Clases/UTN-GAME/nbproject/private/
/Clases/UTN-GAME/build/
/Clases/GameProyect/nbproject/private/
/Clases/GameProyect/build/