/Clases/Clase 1/Clase 2/nbproject/private/
/Clases/Clase 1/Clase 2/build/
/Clases/Clase 1/Clase3/nbproject/private/
/Clases/Clase 1/Clase3/build/
/Clases/Clase 1/Clase 4/nbproject/private/
/Clases/Clase 1/Clase 4/build/
/Clases/Clase 1/Clase 5/nbproject/private/
/Clases/Clase 1/Clase 5/build/
/Clases/Clase 1/JavaApplication37/nbproject/private/
/Clases/Clase 1/JavaApplication37/build/
/Clases/Clase 1/Switch/nbproject/private/
/Clases/Clase 1/Clase6/nbproject/private/
/Clases/Clase 1/Clase6/build/
/Clases/Clase 1/Switch/build/
/Clases/Clase 1/Clase 7/nbproject/private/
/Clases/Clase 1/Clase7/nbproject/private/
/Clases/Clase 1/Clase7 (arrays)/build/
/Clases/Clase 1/Clase7 (arrays)/nbproject/private/
/Clases/JavaApplication/nbproject/private/
/Clases/JavaApplication/build/
/Clases/JavaApplication/dist/
/Clases/Clase 4/nbproject/private/
/Clases/Clase 2/nbproject/private/
/Clases/Clase6/nbproject/private/
/Clases/UTN-Games/nbproject/private/
/Clases/UTN-Games/build/
/Clases/Other/nbproject/private/
/Clases/Other/build/
/Clases/UTN_GAME/nbproject/private/
/Clases/UTN_GAME/build/
/Clases/UTN_GAME_C/nbproject/private/
/Clases/UTN_GAME_C/build/
/Clases/UTN-GAME/nbproject/private/
/Clases/UTN-GAME/build/
/Clases/GameProyect/nbproject/private/
/Clases/GameProyect/build/
/Clases/4_linea/nbproject/private/
/Clases/Estudio/nbproject/private/
/Clases/PruebaVector1/nbproject/private/
/Clases/PruebaVector1/build/
/Clases/Practica_de_Matirices/nbproject/private/
/Clases/Examen/nbproject/private/
/Clases/Examen/build/
/Clases/Clase10/nbproject/private/
/Clases/Clase10/build/
/Clases/JavaApplication20/nbproject/private/
/Clases/Clase 11/nbproject/private/
/Clases/Clase 11/build/
/Clases/Practica1/nbproject/private/
/Quiz/nbproject/private/
/Quiz/build/
/Clase12/nbproject/private/
/Clase12/build/
/PracticaListas/nbproject/private/
/PracticaListas/build/
/Practicalistas1/nbproject/private/
/Tarea/TareaListas/nbproject/private/
/Tarea/TareaListas/build/
/Tarea/Clase13/nbproject/private/
/Tarea/Clase13/build/
/Proyecto/ProyectoListas/nbproject/private/
/Proyecto/ProyectoListas/build/
/Clases/TDA/nbproject/private/
/Clases/TDA/build/
/Clases/PracticadeExamen/nbproject/private/